/*estilo do home*/
body{
	margin: 0px;
	padding: 0px;
	font-family: Inter;
	src:('https://fonts.google.com/specimen/Inter');
	font-weight: 400;
	background-color: hsl(233, 47%, 7%);
	list-style: none;
	color: hsl(0, 0%, 100%);
	display: flex;
}
	
.container{
	margin: 200px;
	padding: 90px;
	border-radius: 10px;
	text-align: left;
	font-size: 20px;
	width: 400px;
	height: 300px;
	background-color: hsl(244, 38%, 16%);
}

/*h1*/

div h1 span{
	color: hsl(277, 64%, 61%);
}

/*lista*/

ul {
	list-style: none;
	padding: 50px;
	color: hsla(0, 0%, 100%, 0.75);
	display: flex;
	flex-direction: row;	
	justify-content: space-between;
	text-align: left;
}

li span{
	font-weight: bold;
	color: hsl(0, 0%, 100%);
	font-size: 25px;
}

p{
	color: hsla(0, 0%, 100%, 0.75);

}

/*imagem*/

.imagem{
	display: inline;

	width: 700px;
	height: 400px;
	margin: 50px;
	border-radius: 10px;
}

/*attribution*/

.attribution { 
	font-size: 11px;
	text-align: center;
	display: inline;
	position: static; 
}
.attribution a { color: hsl(228, 45%, 44%); }